body {
    width: 100vw;
    height: 100vh;
    background-image: url("../image/beach.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 100% 100% ;

    font-family: Arial, sans-serif;
  }
  .title{
    font-size: 50px;
    font-weight: bold;
  }
    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #99c2ff;
    }
    .a{
    /* font-size: 10px; */
    font-weight: bold;

    display: inline-block;
    padding: 0.5em 0.5em; /* 上下左右の余白を設定 */
    /*font-size: 20px;*/ /* フォントサイズを統一 */
    text-decoration: none;
    border-radius: 9px;
    color: #000000; /* テキストの色を白に設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    margin: 3px;
    /*width: 100px;*/
    height: 30px;
    line-height: 60px; /* ボタン内のテキストを垂直方向に中央揃え */
    background: #ffe38f;
 
    background-repeat: no-repeat;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
    }
    .container {
      display: flex;
      align-items: center;
      margin: 20px;
  }
  
  .image img {
      max-width: 100%;
      height: auto;
  }
  
  .text {
      margin-left: 20px;
  }