body {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/背景.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 75% 90% ;
  }

  .table{
    border: 1;




  }