body {
    width: 100vw;
    height: 100vh;
    background-image: url("../image/beach.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 100% 100% ;
  }
  .title{
    font-size: 50px;
    font-weight: bold;
  }
  .table{
    margin: auto;
    background-color: #99c2ff;
    }