
/*body{
    margin: 0;
}*/
/*メニュー文字*/
/*a{
    color: #040404;
    text-decoration: none;
}
.mainView{
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
}*/
/*ハンバーガーボタン*/
/*.el-humburger{
    position: fixed;
    top: 45px;
    width: 46px;
    height: 25px;
    padding-top: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0px;
    z-index: 20;
    cursor: pointer;
    text-align: center;
}
@media screen and (max-width: 840px) {
    .el-humburger{
        display: block;
        right: 0;
        top: 0;
        padding-top: 20px;
        width: 70px;
        height: 70px;
        #factory .el-humburger{
            display: none;
        }
    }
    .el_humburger_wrapper{
        margin-bottom: 5px;
        width: 42px;
        display: inline-block;
    }
    @media  screen and (max-width: 840px) {
        .el_humburger_wrapper{
            margin-bottom: 5px;
            width: 30px;
        }
    }*/
    /*テキストデザイン*/
    /*.el_humburger_text{
        font-size: 12px;
        letter-spacing: 0.1em;
        font-family: "游ゴシック Medium",YuGothic,"ヒイラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
    }
    .js_humburgerOpen .el_humburger_text.el_humburger_text_menu{
        display: none;
    }
    .el_humburger_text_el._humburger_text_close{
        display: none;
    }
    .js_humburgerOpen .el_humburger_text.el_humburger_text_close{
        display: none;
    }
    @media screen and (max-width:840px) {
        .el_humburger_text{
            font-size: 10px;
            padding-top: 2px;
        }
    }
    @media screen and (max-width:840px) {
        .el_humburger_text svg path{
            -webkit-transition: all 200ms cubic-bezier(0.16,0.52,0.25,1);
            -o-transition: all 200ms cubic-bezier(0.16,0.52,0l.25,1);
            transition: all 200ms cubic-bezier(0.16,0.52,0.25,1);
            fill: #000;
        }
    }
    @media screen and (max-width:840px) {
        .js_humburgerOpen .el_humburger_text svg path{
            fill: #000
        }
    }
    .el_humburger span .el_humburger_bar{
        display: block;
        width: 100%;
        margin: 0 auto 9px;
        height: 1px;
        background: #000;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .el_humburger span .el_humburger_bar:last-child{
      margin-bottom: 0;
    }
    .js_humburgerOpen .el_humburger span .el_humburger_bar{
        background: #000;
    }
    @media screen and (max-width:840px) {
        .el_humburger span .el_humburger_bar{
            left:0;
            top:0;
            background: #000;
        }
        .js_humburgerOpen .el_humburger span .el_humburger_bar.top{
            -webkit-transform: translateY(9px) rotate(-45deg);
            -ms-transform: translateY(9px) rotate(-45deg);
            transform: translateY(9px) rotate(-45deg);
        }
        .js_humburgerOpen .el-humburger span.el_humburger_bar.middle{
            opacity: 0;
        }
        .js_humburgerOpen .el-humburger span .el_humburger_ber.bottom{
            -webkit-transform: translateY(-11px)rptate(45deg);
            -ms-transform: translateY(-11px)rotate(45deg);
            transform: translateY(-11px)rotate(45deg);
        }
        .el-humburgerButton.el_humburgerButtom_close{
            top: 2%;
            right: 2%;
        }
        .el-humburgerButtom_close sapn.el_humburger_bar{
            display: block;
            width: 35px;
            margin: 0 auto;
            height: 4px;
            background: #000;
        }
        .el_humburgerButton_close span.el_humburger_bar.top{
            -webkit-transform: translateY(-6px)rotate(45deg);
            -ms-transform: translateY(-6px)rotate(45deg);
            transform: translateY(-6px)rotate(45deg);
        }
        .navi{
            position: fixed;
            right: 0;
            background-color: rgba(255,255,255,0.9);
            width: 450px;
            z-index: 3;
            padding-top: 100px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 600ms ease-out;
            -o-transition: all 600ms ease-out;
            transition: all 600ms ease-out;
            transform: translateZ(0) translateX(100%);
            overflow: auto;
        }
        .js_humburgerOpen .navi{
            right: auto;
            transform: translateZ(0) translateX(0);
        }
            @media  screen and (max-width:840px) {
                .navi{
                    padding: 100px 5% 0;
                }
                .js_humburgerOpen .navi{
                    width: 100%;
                }
            }
        .navi_item{
            margin-bottom: 28px;
            font-size: 20px;
            font-family: "Marcellus",serif !important;
            white-space: nowrap;
            margin-left: 90px;
        }
        .navi_item.op_innerLike{
            cursor: pointer;
        }
        @media screen and(max-width: 840px) {
            .navi_item{
                margin-left: 0;
                font-size: 18px;
            }
    
        }
        }
    }*/
    body,ul,li,h1,p {margin: 0;padding: 0;}
    a {text-decoration: none; color: #000;}
    li {list-style-type: none;}
    /*------------------------------------
    汎用 ↓
    ------------------------------------*/
    .flex {display: flex;}
    .aic {align-items: center;}
    .jcb {justify-content: space-between;}
    /*------------------------------------
    ヘッダー a hover:下線アンダーライン ↓
    ------------------------------------*/
    header ul li a {
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
    header ul li a::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background: #000f20;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform .3s;
    }
    header ul li a:hover {
      color: #3b5d82;
    }
    header ul li a:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
    /*------------------------------------
    ヘッダー spハンバーガーメニュー ↓
    ------------------------------------*/
    header .sp_nav {
      text-align: center;
    }
    .sidemenu {
      height: 50vh;
      padding-top: 100px;
      padding-bottom: 35vh;
      position: fixed;
      right: -40%; /*メニュー幅*/
      transition: all 0.6s;
      top: 0;
      width: 40%; /*メニュー幅*/
      z-index: 2;
      background-color: #000;
      overflow-y: scroll;
    }
    .sidemenu nav ul li {
      padding: 20px;
    }
    .hamburger {
      cursor: pointer;
      height: 60px;
      position: absolute;
      right: 30px;
      top: 40px;
      width: 60px;
      z-index: 3;
    }
    .hamburger span {
      background-color: #000;
      height: 4px;
      left: 15px;
      position: absolute;
      transition: all 0.6s;
      width: 30px;
    }
    .hamburger_linetop {
      top: 20px;
    }
    .hamburger_linecenter {
      top: 29px;
    }
    .hamburger_linebottom {
      top: 38px;
    }
    /*------------------------------------
    メニュークリックした後 ↓
    ------------------------------------*/
    .nav_open .sidemenu {
      right: 0;
    }
    .nav_open .hamburger_linetop {
      top: 26px;
      transform: rotate(45deg);
    }
    .nav_open .hamburger_linecenter {
      left: 50%;
      width: 0;
    }
    .nav_open .hamburger_linebottom {
      top: 26px;
      transform: rotate(-45deg);
    }
    .nav_open .overlay {
      opacity: 0.8;
      visibility: visible;
    }
    /*------------------------------------
    メニュークリック後メニュー外の背景 ↓
    ------------------------------------*/
    .overlay {
      background-color: #000;
      cursor: pointer;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      transition: all 0.6s;
      visibility: hidden;
      width: 100vw;
      z-index: 1;
    }
    /*------------------------------------
    @media screen 1000px~999px ↓
    ------------------------------------*/
    @media screen and (max-width: 1000px) {
      .sp_no {
        display: none;
      }
      .sidemenu {
        right: -50%; /*メニュー幅*/
        width: 50%; /*メニュー幅*/
      }
    }
    @media screen and (min-width: 999px) {
      .pc_no {
        display: none;
      }
    }