/*背景*/
body {
  width: 100vw;
  height: 100vh;
  background-image: url("../image/login-back.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100% ;
  z-index: 1;
  position: relative;
}

/* 入力フィールド */
#app{
    width: 50%;
    height: 40%;
    margin: 60% 25% 5% 25%;
}
/* 言語選択フィールド */
#Language-Choice {
    position: absolute;
    width: 50%;
    height: 5%;
    background: #D9D9D9;
    border-radius: 50px;
    z-index: 11; /* 背景の上に表示 */
}

/* 言語選択 */
.LanguageChoice {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding: 0 10px;
    box-sizing: border-box;
}

/* ユーザー名入力フィールド */
#username-all {
    position: absolute;
    width: 50%;
    height: 4%;
    margin-top: 8%;
    background: #D9D9D9;
    border-radius: 50px;
    z-index: 11; /* 背景の上に表示 */
}

#username {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
}

/* パスワード入力フィールド */
#password-all {
    position: absolute;
    width: 50%;
    height: 4%;
    margin-top: 14%;
    background: #D9D9D9;
    border-radius: 50px;
    z-index: 11; /* 背景の上に表示 */
}

#password {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
}

/* パスワード再入力フィールド */
#re-enter-password-all {
    position: absolute;
    width: 50%;
    height: 4%;
    margin-top: 26%;
    background: #D9D9D9;
    border-radius: 50px;
    z-index: 11; /* 背景の上に表示 */
}

#re-enter-password {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
}

/* 登録ボタン */
#register-all {
    position: absolute;
    width: 50%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11; /* 背景の上に表示 */
}

#register-button {
    width: 100%;
    height: 100%;
    padding: 1% 20px;
    font-size: 20px;
    background: rgba(252, 145, 20, 0.83);
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register-button:hover {
    background-color: #386ecb;
}

/* 戻るボタン */
.back-button {
    position: absolute;
    width: 100px;
    height: 70px;
    left: 1259px;
    top: 38px;
    background: url(../image/back-btn.png);
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 11; /* 背景の上に表示 */
}


/* エラーメッセージ用css */

.error-message{
    color: red;
    font-size: smaller; /* 文字を小さく */
    margin-top: 5px;
}
.error-boder{
    border-color: red;   
}